.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;

    &__Paragraph {
        font-size: 14px;
        color: black;
    }
}

.modalButtons {
    margin-top: 20px;
}

.confirmButton, .cancelButton {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.confirmButton {
    background-color: #f44336;
    color: white;
    border: none;
    margin-right: 10px;
}

.cancelButton {
    background-color: #ccc;
    color: #333;
    border: none;
}
