.Footer {
    background-color: #1E152A;
    color: #EEEEEE;
    width: 100%;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .container p {
    margin: 0;
  }

  .title_footer {
    margin-bottom: 0px;
  }

  .subtitle_footer {
    font-size: 12px;
    margin: 0;
  }
  