@import "../../../Styles/Mixins/variables.scss";
.container {
    margin: 20px 0;
}

.table {
    width: 100%;
    margin-top: 16px;
    border-collapse: collapse;

    &__tHeader {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ccc;
        font-weight: 500;
        letter-spacing: 0.3px;
        color: #ffff;
        background-color: #0554F2;

        &__Button {
            text-align: center;
            background-color: #0554F2;
            color: #ffff;
            letter-spacing: 0.3px;
            font-weight: 500;
        }
    }

    &__tRow {
        text-align: left;
        border-bottom: 1px solid #d4d4d4;
    }

    &__tDetailed {
        padding: 12px;
        background-color: #fafafa;
        letter-spacing: 0.3px;
        font-weight: 400;
        font-size: 14px;
        color: black;

        &:hover {
            background-color: #e4e4e4ab;
            cursor: pointer;
        }

        &__Buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 0;
            gap: 12px; 
            background-color: #fafafa;
        }
    }
}

.ReportButtonContainer {
    display: flex;
    justify-content: end;
    margin: 0 0 10px;
}

.ReportIcon {
    width: 28px;
    height: 28px;
    transition: transform 0.3s ease;
    cursor: pointer;
    
    &:hover {
        transform: scale(1.2);
    }
}